export SMTP=smtp://localhost:1025 
export FROM_EMAIL=no-reply@code-challenge.com
export CORS_ORIGIN=http://localhost:3000
export CLIENT_ID=656587629888-4rvd0pv398dgderln9s6kuvr7kdn99k5.apps.googleusercontent.com
export POSTGRES_HOST=localhost 
export POSTGRES_POST=5432 
export POSTGRES_DB=code_challenge 
export POSTGRES_USER=postgres 
export POSTGRES_PASSWORD=postgresadmin 
